.slider {
    margin-top: 65px;
    margin-left: 120px;
    width: 1080px;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        h1 {
            margin: 0;
        }
    }

    &__content {
        display: flex;
        padding: 40px;

        &__item {
            cursor: pointer;
            position: relative;
            &:hover::after {
                content: attr(data-title);
                position: absolute; 
                left: 0; right: 0; bottom: 5px; 
                z-index: 1; 
                background: rgba(0,42,167,0.6); 
                color: #fff; 
                text-align: center; 
                font-family: Arial, sans-serif; 
                font-size: 11px; 
                padding: 5px 10px; 
                border: 1px solid #333; 
            }
        }

        &__actions {
            display: flex;
            align-items: center;
            margin: 5px;
        }
    }

}

